<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" type="text/html" href = "../../public/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>{{ bigtitle }}</title>
</head>
<body>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/scripts/handlebars.runtime.js"></script>
<script src="/static/scripts/templates.js"></script>
<script src="/static/scripts/myscripts.js"></script>
{{{ body }}}
</body>
</html>
