<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="container">
    <br/>
    <ul id="ListOfUsers">
        <li>{{user}}</li>
    </ul>

    <button>LOGOUT</button>
    <br/>
    <br/>
    <button>CREATE ROOM</button>
    <div id="chat-window">
        <div id="output">
        </div>
    </div>
    <input id="handle" type="text" placeholder="Handle">
    <input id="messages" type="text" placeholder="Message">
    <button id="send">Send</button>
</div>
