<div class="log">
<form action="/" method="POST">
<h1>{{title}}</h1>
<input id="login-username" type="text" placeholder="Username" name="username"/>
<br/><br/><input id="login-password" type="password" placeholder="Password" name="password"/><br/><br/>
    <input type="submit" value="Login" id="proceed" onclick="triggerSocket()"/>
    </form>
</div>
